body {
  background-color: #C1EDFF; /* Цвет фона */
}
.Background {
  width: 97%;/* Ширина прямоугольника заднего фона */
  height: 100%; /* Высота прямоугольника заднего фона */
  position: absolute; /* Абсолютное позиционирование относительно страницы */
  left: 3%;
}